.places {
    display: grid;
    width: 100%;
    margin: 64px auto 0;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 100%;
    row-gap: 50px;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .places {
      row-gap: 73px;
      width: 93.75%;
      margin: 88px auto 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .places {
      row-gap: 80px;
      width: 90.63%;
      margin: 92px auto 0;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .places {
      width: 76.88%;
    }
  }