.footer__links {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .footer__links {
      font-size: 16px;
      line-height: 1.13;
      flex-direction: row;
      gap: 0 18px;
    }
  }